.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    margin-left: -8rem;
}

.container div{
    cursor: pointer;
}

.container span{
    margin:0.5rem;
    padding: 0.5rem;
    font-weight: 700;
    color:#333333;
}

@media screen and (max-width: 960px) {
    .container {
        margin-left: -7rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin-bottom: 0rem;
        margin-left: -0.8rem;
    }
}

