.loadingProducts {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  width: 100%;
  padding-inline: 16px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}